In [17]:
import pandas as pd
import numpy as np
#Load the data
df=pd.read_csv("ipl_matches.csv")

In [18]:
#check the data
df.head()

,id,date,team1,team2,toss_winner,decision,first_score,first_wkts,second_score,second_wkts,winner,player_of_the_match,most_runs,most_wkts
0,1,"March 22,2024",Banglore,Chennai,Banglore,Bat,173,6,176,4,Chennai,Mustafizur Rahman,Anuj Rawat,Mustafizur Rahman
1,2,"March 23,2024",Delhi,Punjab,Punjab,Field,174,9,177,6,Punjab,Sam Curran,Sam Curran,Kuldeep Yadav
2,3,"March 23,2024",Kolkata,Hyderabad,Hyderabad,Field,208,7,204,7,Kolkata,Andre Russell,Andre Russell,T Natarajan
3,4,"March 24,2024",Rajasthan,Lucknow,Rajasthan,Bat,193,4,173,6,Rajasthan,Sanju Samson,Sanju Samson,Trent Boult
4,5,"March 24,2024",Gujarat,Mumbai,Mumbai,Field,168,6,162,9,Gujarat,Sai Sudharsan,Dewald Brevis,Jasprit Bumrah

In [19]:
#clean the data
df.isnull().sum()
#check for null matches and remove them and then recheck
df[df['first_score']==0]
df=df[df["first_score"]!=0]
df[df['first_score']==0].value_counts()

Series([], Name: count, dtype: int64)

In [20]:
#extract numerical data to numpy arr
runs_team1=df["first_score"].to_numpy()
runs_team2=df["second_score"].to_numpy()

In [21]:
#Basic calculations on numpyarr
total_runs=runs_team1+runs_team2
print("Total runs scored in each match: ",total_runs)

Total runs scored in each match:  [349 351 412 366 330 354 349 523 358 368 377 330 362 252 334 438 399 331
 372 439 293 278 362 395 395 337 299 323 392 449 447 181 375 356 465 443
 288 362 423 444 377 523 504 395 406 346 310 289 325 401 314 299 306 372
 347 422 332 422 427 296 286 327 397 289 410 409 429 323 346 314 227]

In [22]:
avg_runs=np.mean(total_runs)
print(f"Average total runs scored per match: {avg_runs:.2f}")

Average total runs scored per match: 364.38

In [23]:
mid=np.median([runs_team1,runs_team2])
print("Middle run of the series: ",mid)

Middle run of the series:  179.5

In [24]:
max_score=np.max([np.max(runs_team1),np.max(runs_team2)])
print("Maximum score throughout the season: ",max_score)

Maximum score throughout the season:  277

In [25]:
min_score=np.min([np.min(runs_team1),np.min(runs_team2)])
print("Minimum score throughout the season: ",min_score)

Minimum score throughout the season:  89

In [26]:
run_diff=abs(runs_team1-runs_team2)
print("Absolute run difference in each match: ",run_diff)

Absolute run difference in each match:  [  3   3   4  20   6   2  63  31  12   4  21   6  20   2  28 106   1   1
   6  29  33   4   2   3   3   3   5   1  20  75   1   3   9   4  67   1
   4   4   3   4  35   1  10   3   6  78   4   1   1   1  24   5  28  98
   1  20   2  60  35  18   4  47  19   1  18  27   1   5   2  36   1]

In [33]:
#Which matches were close
close_matches_mask= run_diff<=10    #here mask means, a boolean array
print("Matches with close run difference: ",close_matches)

Matches with close run difference:  [ True  True  True False  True  True False False False  True False  True
 False  True False False  True  True  True False False  True  True  True
  True  True  True  True False False  True  True  True  True False  True
  True  True  True  True False  True  True  True  True False  True  True
  True  True False  True False False  True False  True False False False
  True False False  True False False  True  True  True False  True]

In [36]:
#runs in close matches
runs_close_matches=total_runs[close_matches_mask]
print("Runs scored in close matches: ",runs_close_matches)

Runs scored in close matches:  [349 351 412 330 354 368 330 252 399 331 372 278 362 395 395 337 299 323
 447 181 375 356 443 288 362 423 444 523 504 395 406 310 289 325 401 299
 347 332 286 289 429 323 346 227]

In [37]:
#no of close matches
print("Total no of close matches: ",np.sum(close_matches_mask))

Total no of close matches:  44

In [42]:
#Identify high scoring matches
high_runs_matches=total_runs>=350
print("Highest runs scored in matches: ",total_runs[high_runs_matches])
print("Number of matches with high scores: ",np.sum(high_runs_matches))

Highest runs scored in matches:  [351 412 366 354 523 358 368 377 362 438 399 372 439 362 395 395 392 449
 447 375 356 465 443 362 423 444 377 523 504 395 406 401 372 422 422 427
 397 410 409 429]
Number of matches with high scores:  40

In [44]:
#sorting
sorted_runs=np.sort(total_runs)
print("Total runs(sorted): ",sorted_runs)

Total runs(sorted):  [181 227 252 278 286 288 289 289 293 296 299 299 306 310 314 314 323 323
 325 327 330 330 331 332 334 337 346 346 347 349 349 351 354 356 358 362
 362 362 366 368 372 372 375 377 377 392 395 395 395 397 399 401 406 409
 410 412 422 422 423 427 429 438 439 443 444 447 449 465 504 523 523]

In [45]:
df.head()

,id,date,team1,team2,toss_winner,decision,first_score,first_wkts,second_score,second_wkts,winner,player_of_the_match,most_runs,most_wkts
0,1,"March 22,2024",Banglore,Chennai,Banglore,Bat,173,6,176,4,Chennai,Mustafizur Rahman,Anuj Rawat,Mustafizur Rahman
1,2,"March 23,2024",Delhi,Punjab,Punjab,Field,174,9,177,6,Punjab,Sam Curran,Sam Curran,Kuldeep Yadav
2,3,"March 23,2024",Kolkata,Hyderabad,Hyderabad,Field,208,7,204,7,Kolkata,Andre Russell,Andre Russell,T Natarajan
3,4,"March 24,2024",Rajasthan,Lucknow,Rajasthan,Bat,193,4,173,6,Rajasthan,Sanju Samson,Sanju Samson,Trent Boult
4,5,"March 24,2024",Gujarat,Mumbai,Mumbai,Field,168,6,162,9,Gujarat,Sai Sudharsan,Dewald Brevis,Jasprit Bumrah

In [47]:
df['winner'].value_counts()

winner
Kolkata      11
Rajasthan     9
Hyderabad     9
Chennai       7
Delhi         7
Banglore      7
Lucknow       7
Punjab        5
Gujarat       5
Mumbai        4
Name: count, dtype: int64